@{
    ViewBag.Title = "Candidate Log In";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("Index", "CandidateCertificates", FormMethod.Post))
{
    <input type="number" name="candidateId" />
    <button type="submit">Log In</button>
}