@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<a href="@Url.Action("Index","AdminUI")" class="btn btn-primary">Administrator's UI</a>
<a href="@Url.Action("CandidateLogIn","Home")" class="btn btn-primary">Candidate Log In</a>
<a href="@Url.Action("Index","CertificatesManager")" class="btn btn-primary">Certificates Manager's UI</a>